<br><br>
<div class="quienes-somos">
    <h1>Quiénes Somos</h1>
    <img src="/background/imagen.jpeg" alt="Equipo" class="equipo-img">
    <p>Somos una empresa dedicada a entregar el mejor entretenimiento de Películas</p>
    <ul>
      <li><i class="fas fa-check-circle"></i> Comprometidos con la calidad</li>
      <li><i class="fas fa-lightbulb"></i> Innovación constante</li>
      <li><i class="fas fa-users"></i> Equipo altamente calificado</li>
    </ul>
    <hr>
    <p><strong><i class="fas fa-bullseye"></i> Misión:</strong> Proveer servicios de alta calidad...</p>
    <p><strong><i class="fas fa-eye"></i> Visión:</strong> Ser líderes en entretenimiento de peliculas</p>
    <hr>
    <button class="cta-button"><i class="fas fa-user-plus"></i> Únete a Nosotros</button>
    <button class="cta-button"><i class="fas fa-envelope"></i> Contáctanos</button>
    <!-- Añade más contenido relevante aquí -->
</div>

